#underLine{
  height: 1px;
  background-color: red;
  position: absolute;
  width: 0px;
  top: 0px;
  left: 0px;
  transition: 0.5s;
}
body{
  margin: 0;
  background-image: url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  min-height: 50vh;
  background-color: rgb(219, 219, 219);
}


.menuArea{
  display: flex;
  border-bottom : 1px solid black;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.menuArea div{
  cursor: pointer;
    padding: 0.5em;
}

.list{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

#userInput{
  size: 100px;
}








.area{
  border : 1px solid black;
  margin-top: 2em;
}



.done{
  text-decoration: line-through;
}
